<?xml version="1.0" encoding="utf-8"?>
<GlobConfig>
  <LastProject/>
  <PrefLang>en</PrefLang>
  <styleSheet>
  QToolTip {font-style:italic; color: #ffffff; background-color: #2a82aa; border: 1px solid white;}
  QWidget#MainWidget{background:white;background-image:url(logo.png);background-repeat:no-repeat;background-position:center;}
  QWidget#DraggableWidget{max-height:50px; padding: 2px; margin:5px; border:1px solid #888;border-radius: 5px;
    background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy : -0.4, radius : 1.35, stop : 0 #fff, stop: 1 #bbb);}
  QWidget#VertexRepresentation{border:2px solid #555;border-radius: 11px;
    background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy : -0.4, radius : 1.35, stop : 0 #fff, stop: 1 #888);}
  QWidget#VertexRepresentation[selected=true]{border:2px solid #B44;}
  QWidget#VertexRepresentation[inconsistent=true]{background-color:#E88;}
  QWidget#CondRepresentation{border:2px solid #555;border-radius: 5px;
    background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy : -0.4, radius : 1.35, stop : 0 #fff, stop: 1 #888);}
  QWidget#VertexTitle{background-color:rgba(255,255,255,32);border:none;border-radius:5px;}
  QWidget#VertexTitleLine{border: 2px solid #555;border-radius:0px;}
  QLabel#ParamRepresentation{background-color:rgba(255,255,255,255);border:1px solid #555;padding:1px;}
  QLabel#ConditionTitle{font-style: italic;}
  QLabel#SubGraphParamRepresentation{border-radius: 5px;
    background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy : -0.4, radius : 1.35, stop : 0 #fff, stop: 1 #88B);};</styleSheet>
  <ShowMaximized>true</ShowMaximized>
  <lastPosition>
    <x>0</x>
    <y>0</y>
    <width>1024</width>
    <height>768</height>
  </lastPosition>
</GlobConfig>
<GraphOfProcess>
  <Block>
    <name>BLOCK__INPUT_NAME</name>
    <position>[52, 330]</position>
    <Input>
      <Name>BLOCK__INPUT_INOUT_HEIGHT</Name>
      <Link>false</Link>
      <Value>Not initialized...</Value>
    </Input>
    <Input>
      <Name>BLOCK__INPUT_INOUT_POS_FRAMES</Name>
      <Link>false</Link>
      <Value>Not initialized...</Value>
    </Input>
    <Input>
      <Name>BLOCK__INPUT_INOUT_POS_RATIO</Name>
      <Link>false</Link>
      <Value>Not initialized...</Value>
    </Input>
    <Input>
      <Name>BLOCK__INPUT_INOUT_WIDTH</Name>
      <Link>false</Link>
      <Value>Not initialized...</Value>
    </Input>
    <Input>
      <Name>BLOCK__INPUT_IN_COLOR</Name>
      <Link>false</Link>
      <Value>Not initialized...</Value>
    </Input>
    <Input>
      <Name>BLOCK__INPUT_IN_FILE</Name>
      <Link>false</Link>
      <Value>D:/Travail/Douane/data/sequence/video_compress.avi</Value>
    </Input>
    <Input>
      <Name>BLOCK__INPUT_IN_GREY</Name>
      <Link>false</Link>
      <Value>Not initialized...</Value>
    </Input>
    <Output>
      <Name>BLOCK__INPUT_INOUT_HEIGHT</Name>
      <ID>19731144</ID>
    </Output>
    <Output>
      <Name>BLOCK__INPUT_INOUT_POS_FRAMES</Name>
      <ID>19732056</ID>
    </Output>
    <Output>
      <Name>BLOCK__INPUT_INOUT_POS_RATIO</Name>
      <ID>19732968</ID>
    </Output>
    <Output>
      <Name>BLOCK__INPUT_INOUT_WIDTH</Name>
      <ID>19730232</ID>
    </Output>
    <Output>
      <Name>BLOCK__INPUT_OUT_FORMAT</Name>
      <ID>19733880</ID>
    </Output>
    <Output>
      <Name>BLOCK__INPUT_OUT_FRAMERATE</Name>
      <ID>19729320</ID>
    </Output>
    <Output>
      <Name>BLOCK__INPUT_OUT_IMAGE</Name>
      <ID>19728408</ID>
    </Output>
  </Block>
  <Block>
    <name>BLOCK__CROP_NAME</name>
    <position>[212, 331]</position>
    <Input>
      <Name>BLOCK__CROP_HEIGHT</Name>
      <Link>false</Link>
      <Value>530</Value>
    </Input>
    <Input>
      <Name>BLOCK__CROP_IN_IMAGE</Name>
      <Link>true</Link>
      <Value>19728408</Value>
    </Input>
    <Input>
      <Name>BLOCK__CROP_IN_X</Name>
      <Link>false</Link>
      <Value>100</Value>
    </Input>
    <Input>
      <Name>BLOCK__CROP_IN_Y</Name>
      <Link>false</Link>
      <Value>68</Value>
    </Input>
    <Input>
      <Name>BLOCK__CROP_WIDTH</Name>
      <Link>false</Link>
      <Value>1180</Value>
    </Input>
    <Output>
      <Name>BLOCK__CROP_HEIGHT</Name>
      <ID>19830744</ID>
    </Output>
    <Output>
      <Name>BLOCK__CROP_OUT_IMAGE</Name>
      <ID>19828920</ID>
    </Output>
    <Output>
      <Name>BLOCK__CROP_WIDTH</Name>
      <ID>19829832</ID>
    </Output>
  </Block>
  <Block>
    <name>BLOCK__LINE_FINDER_NAME</name>
    <position>[490, 203]</position>
    <Input>
      <Name>BLOCK__LINE_FINDER_IN_IMAGE</Name>
      <Link>true</Link>
      <Value>19828920</Value>
    </Input>
    <Output>
      <Name>BLOCK__LINE_FINDER_OUT_IMAGE</Name>
      <ID>19834328</ID>
    </Output>
  </Block>
  <Block>
    <name>BLOCK__LINEDRAWER_NAME</name>
    <position>[783, 257]</position>
    <Input>
      <Name>BLOCK__LINEDRAWER_IN_HEIGHT</Name>
      <Link>true</Link>
      <Value>19830744</Value>
    </Input>
    <Input>
      <Name>BLOCK__LINEDRAWER_IN_LINES</Name>
      <Link>true</Link>
      <Value>19834328</Value>
    </Input>
    <Input>
      <Name>BLOCK__LINEDRAWER_IN_WIDTH</Name>
      <Link>true</Link>
      <Value>19829832</Value>
    </Input>
    <Output>
      <Name>BLOCK__LINEDRAWER_OUT_IMAGE</Name>
      <ID>19839872</ID>
    </Output>
  </Block>
  <Block>
    <name>BLOCK__OUTPUT_NAME</name>
    <position>[535, 518]</position>
    <Input>
      <Name>BLOCK__OUTPUT_IN_IMAGE</Name>
      <Link>true</Link>
      <Value>19828920</Value>
    </Input>
    <Input>
      <Name>BLOCK__OUTPUT_IN_WIN_NAME</Name>
      <Link>false</Link>
      <Value>source</Value>
    </Input>
  </Block>
  <Block>
    <name>BLOCK__OUTPUT_NAME</name>
    <position>[1122, 206]</position>
    <Input>
      <Name>BLOCK__OUTPUT_IN_IMAGE</Name>
      <Link>true</Link>
      <Value>19839872</Value>
    </Input>
    <Input>
      <Name>BLOCK__OUTPUT_IN_WIN_NAME</Name>
      <Link>false</Link>
      <Value>Lines</Value>
    </Input>
  </Block>
</GraphOfProcess>
